 
        .note-font-family {
            background-color: yellow;
        }

        .font-family1 { font-family: "Times New roman", Times, serif; }

        .font-family2 { font-family: Arial, Helvetica, sans-serif; }

        .font-family3 { font-family: "Lucida Console", "Courier New", monospace; }
    