/* Table with CSS */
.table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover{ background-color: #ddd; }

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* Table with border properties */
.table-border, th, td { border: 1px solid; }

/* Table with border and color properties */
.table-border-color, th, td { border: 1px solid green; }

/* Table with value collapse properties */
.table-collapse, th, td { border: 1px,solid; }

.table-collapse { border-collapse: collapse; }

/* Table with border and padding properties */
.table-padding, td, th {
    border: 1px solid;
    padding: 10px;
}

.table-padding { border-collapse: collapse; }

/* Table with border-spacing properties */
#table1 {
    border-collapse: separate;
    border-spacing: 15px;
}

#table2 {
    border-collapse: separate;
    border-spacing: 15px 50px;
}

/* Table with single border properties */
.table-single-border, td, th { border: 1px solid; }