/* Table dengan Properti text-align : center */
.table-text-align, td, th { border: 1px solid red; }

.table-text-align { 
    border-collapse: collapse;
    width: 100%;
}

td { text-align: center; }

/* Table dengan Properti text-align : left */
.table-text-align-left {
    border: 1px solid yellow;
}

.table-text-align-left {
    border-collapse: collapse;
    width: 100%;
}

th { text-align: left; }