/* Table Resposive */
div.tablecontainer { overflow-x: auto; }

.tablecontainer table {
    border-collapse: collapse;
    width: 100%;
}

.tablecontainer table, .tablecontainer th, .tablecontainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Membuat table yang indah dan bagus */
.table-styling1 table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-styling1 td, .table-styling1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-styling1 tr:nth-child(even) { background-color: #f3f3f3; }

.table-styling1 tr:hover { background-color: #ddd; }

.table-styling1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}