
        /* List Style Type ul ( unordered list ) */
        .list-style-type1 { list-style-type: circle; }

        .list-style-type2 { list-style-type: disc; }

        .list-style-type3 { list-style-type: square; }

        /* List Style Type ol ( ordered list ) */
        .list-style-type4 { list-style-type: upper-roman; }

        .list-style-type5 { list-style-type: lower-roman; }

        .list-style-type6 { list-style-type: lower-alpha; }

        .list-style-type7 { list-style-type: decimal; }

        /* List Style Image  */
        .list-style-image1 { 
            list-style-image: url('https://www.w3schools.com/cssref/smiley.gif');
            list-style-type: square;
        }

        /* List Style Position */
        .list-style-position-outside { list-style-position: outside; }

        .list-style-position-inside { list-style-position: inside; }
    
        /* List Style Type None ( menghapus daftar list ) */
        .list-style-type-none {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        /* List style Shorthand */
        .list-style-shorthand { list-style: square inside url('https://www.w3schools.com/cssref/smiley.gif'); }

        /* List Style Color */
        .list-style-color1 {
            background: salmon;
            padding: 20px;
        }

        .list-style-color1 li {
            background: mistyrose;
            color: darkred;
            padding: 10px;
            margin-left: 20px;
        }

        .list-style-color2 {
            background: powderblue;
            padding: 20px;
        }

        .list-style-color2 li {
            background: mistyrose;
            color: darkblue;
            margin: 5px;
        }