/* Nilai tampilan umum ( value display ) */
.display-value table{
    border-collapse: collapse;
    width: 100%;
}

.display-value th, .display-value td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.display-value th {
    background-color: #f3f3f3;
    font-weight: bold;
}

.display-value tr:nth-child(even) {
    background-color: #f9f9f9;
}

.display-value tr:hover {
    background-color: #d2d2d2;
}


/* Display : none, menggunakan Javascript agar terlihat */
#panel, .flip {
    padding: 10px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border: solid 1px #a6d8a8;
    margin: auto;
    cursor: pointer;
}

#panel { display: none; }

#panel2, .flip2 {
    padding: 10px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border: solid 1px #a6d8a8;
    margin: auto;
    cursor: pointer;
}

#panel2 {
    display: none;
    cursor: auto;
}

/* Horizontal menu */
.Horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Horizontal-menu li { display: inline; }

/* Merubah elemen inline span menjadi elemen block  */
span { display: block; }


/* Merubah elemen inine link menjadi elemen block */
.block a { display: block; }

/* Contoh nilai dari property display */
.example-value-display p {
    background-color: blue;
    padding: 10px;
}

.example-value-display span {
    background-color: red;
    color: white;
    padding: 10px;
}

p.ex1 { display: none; }

p.ex2 { display: inline; }

p.ex3 { display: block; }

p.ex4 { display: inline-block; }

p.ex5 { display: flex; }

p.ex6 { display: grid; }


/* Perbedaan antara display: none dan visibility: hidden */
.imgbox {
    float: left;
    text-align: center;
    width: 120px;
    border: 1px solid gray;
    margin: 4px;
    padding: 6px;
}

button { width: 100%; }

/* Table display visibility */
.table-display-visibility table {
    border-collapse: collapse;
    width: 100%;
}

.table-display-visibility th, .table-display-visibility td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-display-visibility th {
    background-color: #f3f3f3;
    font-weight: bold;
}

.table-display-visibility tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-display-visibility tr:hover {
    background-color: #d2d2d2;
}
