        div.margins {
            margin: 70px;
            border: 1px solid green;
            display: inline;
        }

        ul.margin-properties {
            color: rgb(255, 0 , 0);
        }

        .margin-individual {
            border: 1px solid blue;
            margin-top: 100px;
            margin-right: 150px;
            margin-bottom: 100px;
            margin-left: 80px;
        }

        .margin-shorthand-4value {
            border: 1px solid green;
            margin: 25px 50px 75px 100px;
        }

        .margin-shorthand-3value {
            border: 1px solid yellow;
            margin: 25px 50px 75px;
        }

        .margin-shorthand-2value {
            border: 1px solid red;
            margin: 25px 50px;
        }

        .margin-shorthand-1value {
            border: 1px solid purple;
            margin: 25px;
        }

        .margin-auto {
            width: 300px;
            margin: auto;
            border: 1px solid blue;
        }

        .inherit {
            border: 1px solid red;
            margin-left: 100px;
        }

        .inherit1 {
            margin-left: inherit;
        }