/* Property width */
.ex1 {
    width: 900px;
    margin: auto;
    border: 3px solid #73AD21;
}

.ex2 {
    max-width: 900px;
    margin: auto;
    border: 3px solid #73AD21;
}

/* Table CSS Property */
.css-property {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}

.css-property td, .css-property th {
    border: 1px solid #45ED34;
    padding: 8px;
}

.css-property tr:hover { 
    background-color: #3c2b2b; 
    color: white;
}