
        .outline-color1 {
            border: 2px solid balck;
            outline-style: solid;
            outline-color: red;
        }

        .outline-color2 {
            border: 2px solid black;
            outline-style: dotted;
            outline-color: blue;
        }

        .outline-color3 {
            border: 2px solid balck;
            outline-style: outset;
            outline-color: grey;
        }

        .hex-outline-color{
            border: 2px solid gold;
            outline-style: solid;
            outline-color: #ff00ff;
        }

        .rgb-outline-color {
            border: 2px dashed black;
            outline-style: solid;
            outline-color: rgb(0, 255, 0);
        }

        .hsl-outline-color {
            border: 2px solid black;
            outline-style: dashed;
            outline-color: hsl(0, 50%, 30%);
        }
    