/* Property float */
.float-example img {
    float: right;
    margin-left: 15px;
    width: 300px;
    height: 300px;
}

.float-example-left img {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: 150px;
}

.float-example-none img {
    float: none;
    width: 200px;
    height: 200px;
}

.float-example-other div {
    float: left;
    padding: 15px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: yellow;
}

.div3 {
    background-color: green;
}